<div class="container">

	<flash-message duration="5000"show-close="true" on-dismiss="myCallback(flash);"></flash-message>

<form class="msform">
	<fieldset>
		<h2 class="fs-title">Change Password</h2>
		<input type="text" placeholder="Enter your Registered Email" ng-model="Customer.Email" />
		<input type="password" placeholder="Enter your Old Password" ng-model="Customer.OldPassword" />
		<input type="password" placeholder="Enter your New Password" ng-model="Customer.NewPassword" />

		<input type="button" class="submit action-button" value="Change Password" ng-click="ChangePassword()"/>

	</fieldset>

</form>
</div>
